* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Lato, sans-serif;
}

.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}

.logo {
  margin-top: 7px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}

.logo img {
  height: 42px;
  width: auto;
  margin-right: 10px;
}

.title {
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 300;
}

.title1{
  font-size: 24pt;
  font-family: Montserrat, Arial;
  font-weight: 700;
}


section{
  /* margin: 440px 190px; */
  margin-bottom: 40px;
  display: flex;
  margin-top: 440px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button{
  margin-top: 20px;
  margin-left: -7px;
  background-color: white;
  padding: 9px 0px;
  border-radius: 8px;
  width: 375px;
}

#back{
  /* text-align: center; */
  position: absolute;
  z-index: -1;
  width: 35%;
  min-width: 400px;
  transition: top 0s ease;
}
#connect{
  margin-right: auto;
  margin-left: 13%;
}

.flex{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#arrow{
  width: 32px;
}

.statement {
  font-family: Montserrat, Arial;
  font-size:19pt;
  text-align: center;
  padding: 0px 7px;
}

#state2{
  margin-top: 25px;
}

button:hover{
  cursor: pointer;
}

#arrow:hover{
  cursor: pointer;
}

@media (max-width: 768px) {
  .title {
      font-size: 18px;
  }
  #connect{
      margin-right: 0px;
      margin-left: 0px;
  }
  .statement{
      font-size: 17pt;
      text-align: center;
  }
}

